<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Zaloguj się</title>
</head>
<body>
<div class="container p-4">
  <div th:if="${param.error}" class="alert alert-danger" role="alert">
    Niepoprawna nazwa użytkownika lub hasło
  </div>
  <h1>Zaloguj się</h1>
  <form th:action="@{/login}" method="post">
    <div class="mb-3">
      <label for="inputUsername" class="form-label">Nazwa użytkownika</label>
      <input type="text" name="username" class="form-control" id="inputUsername">
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Hasło</label>
      <input type="password" name="password" class="form-control" id="inputPassword">
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj</button>
  </form>
</div>
</body>
</html>
